# Node.js dependencies
node_modules/

# Environment files
# .env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Ignored during Docker build
example.env
database/
keys.json
